<html><head><meta charset="utf-8"><script src="../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script><link rel="import" href="clients-page.html"><style>
    clients-page {
      display: inline-block;
      background: white;
      box-sizing: border-box;
      margin: 16px;
      padding: 16px;
      border-radius: 2px;
    }
    div.address {
      font-family: 'Roboto', 'Noto', sans-serif;
      font-size: 26px;
    }
    paper-fab {
          position: fixed;
          bottom: 16px;
          right: 16px;
          background-color: #ff4081;
        }
    </style></head><body><template is="dom-bind"><clients-page id="clientPage"></clients-page></template></body></html>