<link rel="import" href="../../../bower_components/polymer/polymer.html"><link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html"><dom-module id="section-service"><template><iron-ajax id="ajaxPullWebService" handle-as="json" last-response="{{wsdata}}"></iron-ajax></template><script>

  Polymer({
    is: 'section-service', 
    properties:{
      wsdata:{ 
        type: Object,
      notify: true
      }
    },
    ready: function(){
      console.log("Loading section-service");
    },
    onResponse: function(request){
      console.log( JSON.stringify(this.wsdata));
    },
    getAll: function(){
      console.log("ENTERING - getSections");
      this.$.ajaxPullWebService.url = URL + "/getSections";
      this.$.ajaxPullWebService.method = "GET";
      console.log("READY FOR CALL: " + this.$.ajaxPullWebService.url + " - METHOD: " + this.$.ajaxPullWebService.method);
      this.$.ajaxPullWebService.generateRequest();
    }
  });
  
</script></dom-module>